html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fdf5c9;
    margin: 0 0 60px; /* bottom = footer height */
}

.container {
    width: 800px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 0 20px 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 99, 151, 0.1);
}

#header{
    background: #6b3e26;
    padding: 10px;
    text-align: center;
    color: #fdf5c9;
}

footer {
    background: #6b3e26;
    height: 50px;
    text-align: center;
    color: #fdf5c9;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.logotype {
    display: block;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    color: #6b3e26;
    font-size: 3 p;
    margin: 5px;
}

h2 {
    color: #6b3e26;
    font-size: 2 p;
}

h3 {
    color: #6b3e26;
    font-size: 1 p;
}

.center-text {
    text-align: center;
}

/* p { */
/*     text-align: center; */
/*     width: 800px; */
/*     margin-right: auto; */
/*     margin-left: auto; */

/* } */

/* #content{ */
/*     background-color: #ffffff; */
/*     padding: 5px; */
/*     text-align: center; */
/* } */

/* Menu specific */

nav {
    border-bottom:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 18px;
}

nav li {
    display:inline;
    border: 2px solid #6b3e26;
    background-color: #6b3e26;
    border-radius: 25px;
    padding: 4px;
    margin: 0 5px;
}

nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}

nav ul {
    margin: 4px 0;
    
}

/* User page */
.wrapper {
}
.user-info ul {
    list-style: none;
    padding-left: 15px;
}

.user-info {
    float: left;
    width: 30%;
}

.user-content {
    float: left;
    width: 70%;
}

.username {
    margin-top: 0;
}

.username a {
    color: black;
    font-weight: bold;
    padding: 0;
}

/* Clearfix  */
.clear:after {
    clear: both;
    content: "";
    display: table;
}


/* Basket page */

.basket table{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #FFFBE4;
    border-bottom: 2px solid #A148A2;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
    border-radius: 4px;
}

.basket th {
    font-size: 1.3em;
    border-bottom: 2px solid #A148A2;
}

.basket tr {
    font-size: 1.2em;
}

.basket td {
    padding-right: 5px;
}

.basket tbody tr:nth-child(odd) {
    background: #FFFBE4;
}

.basket th, td {
    padding: 5px;
}

/* Items page */

.items {
    margin-bottom: 10px;
}

.item {
    background: #FFFBE4;
    padding: 7px;
    margin: 10px;
    width: 200px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 1.1em;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
    float: left;
    
}


.item select {
    background: #fde7c4;
    padding: 5px;
    font-size: 16px;
    line-height: 1px;
    border: 1px;
    border-radius: 0;
    height: 30px;
}

/* New user page */
.table-register {
    margin: 20px auto;
    text-align: right;
    font-size: 1.1em;
}


.table-register td {
    padding: 1px;
}

.table-register input {
    background: #FFFBE4;
    font-size: 1.0em;
}