html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fdf5c9;
    margin: 0 0 60px; /* bottom = footer height */
}

.container {
    width: 800px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 0 20px 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 99, 151, 0.1);
}

#header{
    background: #6b3e26;
    padding: 10px;
    text-align: center;
    color: #fdf5c9;
}

footer {
    background: #6b3e26;
    height: 50px;
    text-align: center;
    color: #fdf5c9;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.logotype {
    display: block;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    color: #6b3e26;
    font-size: 3 p;
}

h2 {
    color: #6b3e26;
    font-size: 2 p;
}

h3 {
    color: #6b3e26;
    font-size: 1 p;
}

.center-text {
    text-align: center;
}

/* p { */
/*     text-align: center; */
/*     width: 800px; */
/*     margin-right: auto; */
/*     margin-left: auto; */

/* } */

/* #content{ */
/*     background-color: #ffffff; */
/*     padding: 5px; */
/*     text-align: center; */
/* } */

/* Menu specific */

nav {
    border-bottom:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 18px;
}

nav li {
    display:inline;
    border: 2px solid #6b3e26;
    background-color: #6b3e26;
    border-radius: 25px;
    padding: 4px;
    margin: 0 5px;
}

nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}

nav ul {
    margin: 4px 0;
    
}

/* User page */
.wrapper {
}
.user-info ul {
    list-style: none;
    padding-left: 15px;
}

.user-info {
    float: left;
    width: 30%;
}

.user-content {
    float: left;
    width: 70%;
}

.username {
    margin-top: 0;
}

.username a {
    color: black;
    font-weight: bold;
    padding: 0;
}

/* Clearfix  */
.clear:after {
    clear: both;
    content: "";
    display: table;
}