body{
    background-color: #fdf5c9;
    text-align: center;
}


#header{
    background: #6b3e26;
    padding: 10px;
    text-align: center;
    color: #fdf5c9;
}

footer {
    background: #6b3e26;
    height: 50px;
    text-align: center;
    color: #fdf5c9;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1 {
    color: #6b3e26;
    font-size: 3 p;
}

h2 {
    color: #6b3e26;
    font-size: 2 p;
}

h3 {
    color: #6b3e26;
    font-size: 1 p;
}

p {
    text-align: center;
    width: 800px;
    margin-right: auto;
    margin-left: auto;

}

#content{
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

/* Menu specific */

nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 18px;
}

nav li {
    display:inline;
    border: 2px solid #6b3e26;
    background-color: #6b3e26;
    border-radius: 25px;
    padding: 4px;
    margin: 0 5px;
}

nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}

nav ul {
    margin: 4px 0;
}


.user-info ul {
    list-style: none;
}

.user-info {
    
}

.username {
    margin-top: 0;
}

.username a {
    color: black;
    font-weight: bold;
    padding: 0;
}

